<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="*.php" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php\php5.6.30\php-cgi.exe" resourceType="File" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <rewrite>
                            <rules>
                             <rule name="index1"><match url="cmstest1113/article-view-19.html$" /><action type="Rewrite" url="realphpsharepage.php" /></rule>
                             <rule name="index2"><match url="cmstest1113/read-page-19-152-1.html" /><action type="Rewrite" url="realphphtmlpage.php" /></rule>
                             <rule name="index3"><match url="cmstest1113/page-index.html$" /><action type="Rewrite" url="realjumppage.php" /></rule>
                            </rules>
        </rewrite>
    </system.webServer>
</configuration>
